@import 'reset';

body {
    background-color: blueviolet;

    header {
        background-color: brown;

        h1 {
            color: cadetblue;
            box-sizing: border-box;
            user-select: none;
            transition: all .5s;
        }
    }

}